<div class="ssw-html-widget ssw-instagram-widget" data-module="service" data-name="instagramPhotos" data-gallery_id="1" data-type="grid" data-columns_count_for_grid="4" data-rows_count="4" data-spaces="5">
  <div class="ssw-page-loading">
    <span class="ssw-spin ssw-loader"></span>
  </div>
</div>