<hiddenonapp></hiddenonapp>
<style>
    .FoldorOverGrid .FoldorOverGrid4x {
        margin: 0 4.5% 5.5%;
        min-height: 185px;
    }

    .FoldorOverGrid4x a:first-child {
        font-size: 20px;
        border-bottom: solid #2992a9 thin;
        width: 100%;
        display: block;
    }

    .FoldorOverGrid4x b:first-child {
        font-size: 20px;
        border-bottom: solid #2992a9 thin;
        width: 100%;
        display: block;
    }

    .AboutUSs {
        max-width: 1032px !important;
        font-weight: 100 !important;
        font-size: 14px !important
    }

    .FoldorOverGrid .FoldorOverGrid2-1x {
        display: block;
        width: 60%;
        float: left;
        padding: 20px
    }

    .FoldorOverGrid .FoldorOverGrid2-2x {
        display: block;
        width: 40%;
        float: left
    }

    .logos {
        padding: 15px
    }

    @media (max-width:769px) {
        .FoldorOverGrid .FoldorOverGrid2-1x {
            width: 100% !important;
        }

        .FoldorOverGrid4x {
            margin: 0 .5% 4% !important;
        }

        .AboutUSs {
            font-weight: 200 !important;
            font-size: 16px !important;
        }
    }

    @media (max-width:768px) {
        .HeaderWhite {
            display: none;
        }
    }

    @media (min-width:768px) {
        .hiddenman {
            display: none;
        }
    }

    .Midtexts {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .welcomef {
        font-size: 26px;
        font-weight: 800
    }

    .othdiv12 {
        text-align: center;
        margin: 0 auto;
        max-width: 630px;
        padding-bottom: 10px
    }

    .YogiGlobal {
        background:url({{'HPimagebehindtext.webp' | asset_url}}) no-repeat;
    }

    .HeaderWhite span {
        font-size: 5.5vmin;
    }

    .HeaderWhite {
        text-align: center;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 169px;
        font-size: 1vmin;
        color: white;
        font-weight: bold;
    }

    .HeaderWhite span {
        position: relative;
        top: 29%
    }

    .Lucy {
        font-weight: 800;
        font-size: 21px;
    }

    .LucyF {
        font-weight: 800;
        font-size: 12px;
    }

    @media (min-width:1597px) {
        .secondWhiteboxs {
            font-size: 15px !important;
        }
    }

    @media (max-width:800px) {
        .secondWhiteboxs h2 {
            left: 32% !important;
            top: 19% !important;
        }

        .wrappersecond {
            grid-template-columns: initial !important;
        }

        .secondWhiteboxs {
            font-size: 1vmax !important;
        }
    }

    .secondWhiteboxs {
        color: black;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.85);
        filter: alpha(opacity=50);
        zoom: 1;
        float: left;
        width: 100%;
        height: 20%;
        position: relative;
        top: -20%;
        display: block;
        z-index: 1;
        font-weight: bold;
        font-size: calc(0.2vmax + 10px);
    }

    .wrappersecond {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
        grid-gap: 34px;
        margin: 0 auto;
        max-width: 1597px;
        margin-top: 34px;
    }

    .wrappersecond div {
        display: flex;
    }

    .wrappersecond div {
        display: flex;
    }

    .secondWhiteboxs h2 {
        position: absolute;
        left: 30%;
        top: 19%;
        opacity: 1 !important;

        * {
            filter: inherit;
        }
    }

    .wrappersecond div:hover .FirstWhiteboxs {
        opacity: 0.6;
    }

    @media (min-width:800px) and (max-width:1000px) {
        .secondWhiteboxs {
            font-size: calc(0.5vmax + 4px);
        }

         .wrapper div:hover .secondWhiteboxs {
            opacity: 0.95;
        }
    }
</style>{{page.content}}<div class="AboutUSs page-body " style="max-width:1200px!important; margin:0 auto;">
    <div class="page-body-content" style="max-width:1200px!important;margin-top:20px">
        <div class="HeaderWhite YogiGlobal"><span>SITE MAP</span></div><br /> <br /> <br /> <br />
        <div class="othdiv12">
            <h1 class="welcomef">Explore our world</h1>
        </div><br /> <br />
        <div class="FoldorOverGrid">
            <div class="FoldorOverGrid4x "> <a target="_blank" style="font-weight:800"
                    href="/collections/women">Women</a><br><a target="_blank"
                    href="/collections/womens-yoga-bottoms/women">Yoga bottoms</a><br><a target="_blank"
                    href="/collections/womens-yoga-tops/women">Yoga tops</a><br><a target="_blank"
                    href="/collections/womens-yoga-mats-equipment">Yoga mats &amp; equipment</a><br><a
                    target="_blank" href="/collections/yoga-jewellery-yoga-gifts/women">Yoga Jewellery & Yoga Gifts </a><br>
                    </div>
            <div class="FoldorOverGrid4x "> <a target="_blank" style="font-weight:800" href="/collections/men">Men</a><br><a
                    target="_blank" href="/collections/mens-yoga-bottoms/men">Yoga bottoms</a><br><a target="_blank"
                    href="/collections/mens-yoga-tops/men">Yoga tops</a><br><a target="_blank"
                    href="/collections/mens-yoga-mats-equipment">Yoga mats &amp; equipment</a><br><a target="_blank"
                    href="/collections/yoga-jewellery-yoga-gifts/men">Yoga Jewellery & Yoga Gifts </a><br></div>
            <div class="FoldorOverGrid4x "> <a style="font-weight:800" target="_blank" href="/collections/yoga-mats-and-equipment">Yoga Mats and Equipment</a><br><a target="_blank" 
                    href="/collections/yoga-mats-mat-bags">Yoga Mats and Mat Bags</a><br><a target="_blank"
                    href="/collections/meditation-equipment">Meditation Equipment </a><br><a target="_blank"
                    href="/collections/yoga-bolsters">Yoga Bolsters</a><br><a
                    target="_blank" href="/collections/yoga-accessories">Yoga Accessories</a><br></div>
            <div class="FoldorOverGrid4x "> <a target="_blank" style="font-weight:800" href="/collections/jewellery-self-care">Yoga Jewellery & Self Care </a><br>
                <a target="_blank" href="/collections/mala-bracelets-necklaces">Mala Bracelets & Necklaces </a><br>
                <a target="_blank" href="/collections/spiritual-necklaces-bracelets-earrings">Spiritual Necklaces, Bracelets & Earrings </a><br>
                <a target="_blank" href="/collections/self-care">Self Care </a><br>
                <a target="_blank" href="/collections/yoga-gifts">Yoga Gifts</a><br>
              </div>
            <div class="FoldorOverGrid4x"> <b style="font-weight:800">Customer service</b><br><a
                    href="/pages/shipping-policies">Shipping</a><br><a
                    href="/pages/returns-refunds-and-exchanges">Returns &amp; exchanges</a><br><a
                    href="/products/yogaclicks-store-gift-card?variant=12268573753460">Gift vouchers</a><br><a
                    href="/pages/instagram">Shop our Instagram</a><br><a href="/pages/contact-us">Contact us</a><br>
                    <a href="/pages/blog">Blog</a><br>
            </div>
            <div class="FoldorOverGrid4x"> <b style="font-weight:800">About YogaClicks</b><br /><a
                    href="/pages/our-story">Our story</a><br><a href="/pages/ethical-yoga-shop">Ethical yoga
                    shop</a><br><a href="/pages/sustainability">Sustainable stories</a><br><a
                    href="/pages/meet-your-makers">Meet the makers</a><br><a href="/pages/reviews">Reviews</a><br><a
                    href="/pages/press">Press</a><br><a href="/pages/site-map">Site map</a></div>
            <div class="FoldorOverGrid4x"> <b style="font-weight:800">Work with us</b><br /><a
                    href="/pages/advocate-faqs">Affiliates</a><br><a href="/pages/yoga-teachers">Yoga teachers</a><br><a
                    href="/pages/yoga-studio-retreats-programme">Yoga studio &amp; retreats</a><br><a
                    href="/pages/work-with-us">Sell with us</a></div>
        </div>
        <hr> <br /><br /> <br style="clear:both" />
    </div>